 .tooltip {
     position: relative;
     display: inline-block;
     border-bottom: 1px dotted black;
     border: 0;
 }
 
 .tooltip .tooltiptext {
     visibility: hidden;
     min-width: 120px;
     background-color: black;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px;
     /* Position the tooltip */
     position: absolute;
     z-index: 1;
 }
 
 .tooltip:hover .tooltiptext {
     visibility: visible;
 }